{% csrf_token %}
<table class="table table-bordered table-sm">
    <tr>
        <td class="table-secondary">Sales Order</td>
        <td>
            <a href="#" class="btn btn-outline-primary btn-sm" onclick="window.open('https://books.zoho.com/app#/salesorders/{{ salesorder.salesorder_id }}','product_history','width=600,height=400')">{{ salesorder.salesorder_number }}</a>
            <input type="hidden" value="{{ salesorder.salesorder_id }}" name="salesorder_id">
        </td>
        <td class="table-secondary">Buyer</td>
        <td>{{ salesorder.buyer.contact_name }}</td>
    </tr>
    <tr>
        <td class="table-secondary">Date </td>
        <td>{{ salesorder.date }}</td>
        <td class="table-secondary">Buyer Payment Terms</td>
        <td>{{ salesorder.buyer.payment_terms }}</td>
    </tr>
</table>
<div class="alert alert-warning" role="alert">
    <table class="table table-sm">
    <tbody>
    <tr>
        <th>Select Dispatch Date</th>
        <th>
            <select class="form-control" name="planned_date">
                {% for dispatchdate in dispatchdates %}
                <option value="dispatchdate">{{ dispatchdate|date:"j-F-Y (l)" }}</option>
                {% endfor %}
            </select>
        </th>
    
        <th>Select Dispatch Time</th>
        <th><input class="form-control" type="time" name="planned_time"></th>
    </tr>
    <tr>
        <th>Select Transporter</th>
        <th>
            <select class="form-control" name="transporter_id">
                <option value="">----</option>
                {% for transporter in transporters %}
                <option value="{{ transporter.id }}">{{ transporter.name }}</option>
                {% endfor %}
            </select>
        </th>
    
        <th>Freight</th>
        <th><input class="form-control" type="number" name="freight" step="0.01"></th>
    </tr>
</tbody>

</table>



</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                
            </th>
            <th scope="col">Product</th>
            <th scope="col">Make</th>
            <th scope="col">Pack Size</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Quantity Dispatched</th>
            <th scope="col">Quantity To Dispatch</th>
            <th scope="col">Inward Status</th>

            
            
            
            
            

        </tr>
    </thead>
    <tbody>
    {% for item in salesorder_api.line_items %}
        <tr>
            <th>
                <div class="form-check">
                    
                
                {% if item.sop_saved %}
                    <input class="form-check-input" type="checkbox" value="{{ item.product.item_id }}"  name="selected_product_item_id"  {% if item.sop.quantity_to_plan_max == 0 %}disabled{% endif %}>
                    
                {% else %}
                    <input class="form-check-input" type="checkbox" value="{{ item.product.item_id }}"  name="selected_product_item_id">
                {% endif %}
                </div>
            </th>
            <th>{{ item.product.name }}<input name="product_id" value="{{ item.product.item_id }}" type="hidden"></th>
            <th>{{ item.product.make }}</th>
            <th>{{ item.pack_size }}<input type="hidden" value="{{ item.pack_size }}" name="pack_size"></th>
            <th>{{ item.rate }}<input type="hidden" value="{{ item.rate }}" name="selling_price"></th>
            <th>{{ item.quantity }} ( {{ item.product.unit }}) <input type="hidden" value="{{ item.quantity }}" name="quantity"></th>
            <th>
                {% if item.sop_saved %}
                    {{ item.sop.quantity_dispatched }} ({{ item.product.unit }}) 
                    
                {% else %}
                    0.0 ({{ item.product.unit }})
                {% endif %}
            </th>

            <th>
                {% if item.sop_saved %}
                    <input class="form-control" type="number" step="0.01" max="{{ item.sop.quantity_to_plan_max }}" name="quantity_to_dispatch" value="{{ item.sop.quantity_to_plan_max }}" {% if item.sop.quantity_to_plan_max == 0 %}disabled{% endif %}>
                    {% if item.sop.quantity_to_plan_max == 0 %}
                        <input value="" type="hidden" name="quantity_to_dispatch">
                    {% endif %}
                {% else %}
                    <input class="form-control" type="number"  step="0.01" max="{{ item.quantity }}" name="quantity_to_dispatch" value="{{ item.quantity }}">
                {% endif %}
            </th>
           
            <th>
                {% if salesorder.zohopurchaseorder_set.all %}
                    {% for po in zohopurchaseorder_set.all %}
                        {% if po.planned_status %}
                            {% for pop in po.purchaseorderproduct_set.all %}
                                {{ pop.product.item_id_str }} - {{ item.product.item_id_str }}
                                {% if pop.product.item_id_str == item.product.item_id_str %}
                                    {% for popp in pop.purchaseorderproductplan_set.all %}
                                        {{ popp.planned_quantity }}({{ pop.product.unit }}) - {{ popp.plan_status }}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                No Purchase Order Against this Sales Order
                {% endif %}
            </th>
            
           
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <hr>
    
    
