<table class="table table-hover table-bordered bg-white">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Total Estimate Products Count</th>
      <th scope="col">Total Estimate Amount</th>
      <th scope="col">Total Sales Order Product Count</th>
      <th scope="col">Conversion % (Amount)</th>
      <th scope="col">Total Sales</th>
      <th scope="col">Total Profit</th>
      <th scope="col">Profit/Sales percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{ total_ep_count }}</th>
      <th>{{ total_ep_amount }}</th>
      <th>{{ total_sop_count }}</th>
      <th>{{ conversion_percentage }}</th>
      <th>{{ total_sales }}</th>
      <th>{{ total_profit }}</th>
      <th>{{ profit_per_sales_percentage }}</th>
    </tr>
    
  </tbody>
</table>
