<table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Vendor Name</th>
                          <th scope="col">Bill Number </th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Price</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>

                      {% for page in list_bills %}

                          {% for bill in page  %}

                                  <tr>
                                      <td>{{ bill.date }}</td>
                                      <th scope="row">{{ bill.vendor_name }}</th>
                                      <td>{{ bill.bill_number }} </td>
                                      <td>{{ bill.item_quantity }}</td>
                                      <td style="color:red;font-weight:900">{{ bill.currency_code }} {{ bill.item_price }} </td>
                                      <td>{{ bill.currency_code }} {{ bill.item_total_price }}</td>

                                  </tr>

                          {% endfor %}
                      {% endfor %}
                      </tbody>
                    </table>