{% extends 'home.html' %}
{% block page-title-var %} Un-Approved Cheque {% endblock page-title-var %}

{% block application-active %}
    {% for vendor in vendors %} 
        <div class="alert alert-warning mb-0 mt-5 w-50 mx-auto border border-dark border-bottom-0" role="alert">
            <h4 class="alert-heading text-center">
                {{ vendor.contact_name }} <br>
                (<span style="color:red">Payment Terms: {{ vendor.payment_terms }}</span>)
            </h4>
            <div class="btn-group d-block text-center" role="group" aria-label="Basic example">
                <a class="btn btn-outline-dark chequeledger" data-id="{{ vendor.contact_id }}" data-toggle="modal" data-target="#chequeledger-{{ vendor.contact_id }}">Cheque Ledger</a>
                <!-- AJAX MODAL-->
                <div class="modal fade" id="chequeledger-{{ vendor.contact_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Cheque Ledger Of {{ vendor.contact_name }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                </div>
                <a class="btn btn-outline-dark actualledger" data-id="{{ vendor.contact_id }}" data-toggle="modal" data-target="#actualledger-{{ vendor.contact_id }}">Actual Ledger</a>
                <!-- AJAX MODAL-->
                <div class="modal fade" id="actualledger-{{ vendor.contact_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Actual Ledger of {{ vendor.contact_name }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                </div>
                <a class="btn btn-outline-dark allcheques" data-toggle="modal" data-id="{{ vendor.contact_id }}" data-target="#allcheques-{{ vendor.contact_id }}">View All Cheques</a>
                <!-- AJAX MODAL-->
                <div class="modal fade" id="allcheques-{{ vendor.contact_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">All Cheques of {{ vendor.contact_name }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            {% for pp in vendor.paymentpayable_set.all %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0" style="display:inline;">
                            <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#pp-{{ pp.id }}" aria-expanded="true" aria-controls="collapseOne">
                                Payment ID : {{ pp.id }}  <i class="fas fa-chevron-down"></i>
                            </button>
                        </h2>
                        <a class="btn btn-outline-danger float-right mx-1" data-toggle="modal" data-target="#cancelpayment-{{ pp.id }}">
                            <i class="fas fa-window-close"></i> 
                            Cancel
                        </a>
                        <!-- FORM MODAL-->
                        <div class="modal fade" id="cancelpayment-{{ pp.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Cancel Payment Confirm ?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  ...
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <a class="btn btn-outline-warning float-right mx-1 inwarddetail" data-toggle="modal" data-target="#inwarddetail-{{ pp.id }}" data-id="{{ pp.id }}">
                            <i class="fas fa-book-open"></i> 
                            View Inward Detail
                        </a>
                        <!-- AJAX MODAL-->
                        <div class="modal fade" id="inwarddetail-{{ pp.id }}" data-id="{{ pp.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Inward Details</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  ...
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div id="pp-{{ pp.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Cheque Number</th>
                                        <th scope="col">Cheque Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cp in pp.chequepayable_set.all %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td>{{ cp.cheque_no }}</td>
                                          <td>{{ cp.date|date:"d-M-Y" }}</td>
                                          <td>{{ cp.status }}</td>
                                          <td>{{ cp.amount }}</td>
                                          <td>
                                              <a class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#approvecheque-{{ cp.id }}">
                                                  <i class="fas fa-check"></i> 
                                                  Approve 
                                              </a>
                                              <!-- FORM MODAL-->
                                              <div class="modal fade" id="approvecheque-{{ cp.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">Approve Cheque</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      ...
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                          </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

<script>
 $(document).on("click",".chequeledger",function(){ 
    //alert(jQuery(this).data("id"));
    var contact_id = ($(this).data('id'));
    //$.get("https://www.rawble.com/rfq/userrfq/ajaxestimatelist?item_id="+item_id, function(data, status){
    //alert(data);
    $('#chequeledger-'+contact_id).find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/magnify/index.searching-for-loading-icon.gif' />");
    $.ajax({
        url: '../../../../../payable/chequeledger',
        type: "get",
        data: {'contact_id': contact_id},

        success: function(data) {
          $('#chequeledger-'+contact_id).modal('show');
          $('#chequeledger-'+contact_id).find('.modal-body').html(data.snippet);
        },
        error: function(err) {
          console.log('error', err);
        }
      })
    //});
    });
$(document).on("click",".actualledger",function(){ 
    //alert(jQuery(this).data("id"));
    var contact_id = ($(this).data('id'));
    //$.get("https://www.rawble.com/rfq/userrfq/ajaxestimatelist?item_id="+item_id, function(data, status){
    //alert(data);
    $('#actualledger-'+contact_id).find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/magnify/index.searching-for-loading-icon.gif' />");
    $.ajax({
        url: '../../../../../payable/actualledger',
        type: "get",
        data: {'contact_id': contact_id},

        success: function(data) {
          $('#actualledger-'+contact_id).modal('show');
          $('#actualledger-'+contact_id).find('.modal-body').html(data.snippet);
        },
        error: function(err) {
          console.log('error', err);
        }
      })
    //});
    });
$(document).on("click",".allcheques",function(){ 
    //alert(jQuery(this).data("id"));
    var contact_id = ($(this).data('id'));
    //$.get("https://www.rawble.com/rfq/userrfq/ajaxestimatelist?item_id="+item_id, function(data, status){
    //alert(data);
    $('#allcheques-'+contact_id).find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/magnify/index.searching-for-loading-icon.gif' />");
    $.ajax({
        url: '../../../../../payable/allcheques',
        type: "get",
        data: {'contact_id': contact_id},

        success: function(data) {
          $('#allcheques-'+contact_id).modal('show');
          $('#allcheques-'+contact_id).find('.modal-body').html(data.snippet);
        },
        error: function(err) {
          console.log('error', err);
        }
      })
    //});
    });
$(document).on("click",".inwarddetail",function(){ 
    //alert(jQuery(this).data("id"));
    var pp_id = ($(this).data('id'));
    //$.get("https://www.rawble.com/rfq/userrfq/ajaxestimatelist?item_id="+item_id, function(data, status){
    //alert(data);
    $('#inwarddetail-'+pp_id).find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/magnify/index.searching-for-loading-icon.gif' />");
    $.ajax({
        url: '../../../../../ajax/payments/payable/inwarddetail',
        type: "get",
        data: {'pp_id': pp_id},

        success: function(data) {
          $('#inwarddetail-'+pp_id).modal('show');
          $('#inwarddetail-'+pp_id).find('.modal-body').html(data.snippet);
        },
        error: function(err) {
          console.log('error', err);
        }
      })
    //});
    });
</script>
{% endblock application-active %}