{% extends 'home.html' %}
{% block page-title-var %} Un-Approved Cheque {% endblock page-title-var %}

{% block application-active %}
    {% for vendor in vendors %} 
        <div class="alert alert-warning mb-0 mt-5 w-50 mx-auto border border-dark border-bottom-0" role="alert">
            <h4 class="alert-heading text-center">
                {{ vendor.contact_name }} <br>
                (<span style="color:red">Payment Terms: {{ vendor.payment_terms }}</span>)
            </h4>
            <div class="btn-group d-block text-center" role="group" aria-label="Basic example">
                <a class="btn btn-outline-dark">Cheque Ledger</a>
                <!-- AJAX MODAL-->
                <a class="btn btn-outline-dark">Actual Ledger</a>
                <!-- AJAX MODAL-->
                <a class="btn btn-outline-dark">View All Cheques</a>
                <!-- AJAX MODAL-->
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            {% for pp in vendor.paymentpayable_set.all %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0" style="display:inline;">
                            <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#pp-{{ pp.id }}" aria-expanded="true" aria-controls="collapseOne">
                                Payment ID : {{ pp.id }}  <i class="fas fa-chevron-down"></i>
                            </button>
                        </h2>
                        <a class="btn btn-outline-danger float-right mx-1">
                            <i class="fas fa-window-close"></i> 
                            Cancel
                        </a>
                        <!-- FORM MODAL-->
                        <a class="btn btn-outline-warning float-right mx-1">
                            <i class="fas fa-book-open"></i> 
                            View Inward Detail
                        <!-- AJAX MODAL-->
                        </a>
                    </div>

                    <div id="pp-{{ pp.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Cheque Number</th>
                                        <th scope="col">Cheque Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cp in pp.chequepayable_set.all %}
                                        <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td>{{ cp.cheque_no }}</td>
                                          <td>{{ cp.date|date:"d-M-Y" }}</td>
                                          <td>{{ cp.status }}</td>
                                          <td>{{ cp.amount }}</td>
                                          <td>
                                              <a class="btn btn-outline-success btn-block">
                                                  <i class="fas fa-check"></i> 
                                                  Approve
                                              </a>
                                              <!-- FORM MODAL-->
                                          </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock application-active %}