{% extends 'home.html' %}
{% block page-title-var %} Schedule Payment {% endblock page-title-var %}

{% block application-active %}
<div class="container" style="max-width:80%">

<select class="form-control" id="vendor_id" onchange="return get_po(this);">
<option></option>
{% for vendor in vendors %}
<option value="{{ vendor.contact_id }}">{{ vendor.contact_name }}</option>
{% endfor %}
</select>
<a href="#" onclick="return schedule_payment();" class="btn btn-danger btn-block mt-2 w-50 mx-auto">
    Schedule Payment
	
</a>
</div>
<div id="purchaseorders" class="container" style="max-width:90%">

</div>
<script>

function schedule_payment(){
  var vendor_id =  $('#vendor_id').val();
  alert(vendor_id);
   var selected_popp_ids = []
    $("input:checkbox[name=selected_popp_id]:checked").each(function(){
    selected_popp_ids.push($(this).val());
});
  alert(selected_popp_ids);
};
function get_po(source){
    var vendor_id = source.value;
    $('div#purchaseorders').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/bars/index.progress-bar-facebook-loader.gif' />");
    $.ajax({
        url: '../../../../../ajax/payments/payable_pending/get_purchaseorders',
        type: "get",
        data: {'vendor_id':vendor_id},
        success: function(data) {
         
          $('div#purchaseorders').html(data.snippet);
        },
        error: function(err) {
          console.log('error', err);
        }
      })
};
</script>
{% endblock application-active %}