{% extends 'home.html' %}
{% block page-title-var %} Schedule Payment {% endblock page-title-var %}

{% block application-active %}
<div class="container" style="max-width:80%">

<select class="form-control" id="vendor_id" onchange="return get_po(this);">
<option></option>
{% for vendor in vendors %}
<option value="{{ vendor.contact_id }}">{{ vendor.contact_name }}</option>
{% endfor %}
</select>
<a href="#" onclick="" data-toggle="modal" data-target="#schedule-payment" class="btn btn-danger btn-block mt-2 w-50 mx-auto schedule-payment">
    Schedule Payment
	
</a>

      <div class="modal fade" id="schedule-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:98%" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <i class="fas fa-sign-in-alt"></i>
                Schedule Payment
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" action="">
              <div class="modal-body">

              </div>
              <input type="submit" value="Schedule" class="btn btn-outline-success btn-block container mb-3" name="schedule-cheque">
            </form>
          </div>
        </div>
      </div>
</div>
<div id="purchaseorders" class="container" style="max-width:90%">

</div>
<script>
$(document).on("click",".schedule-payment",function(){
    //var salesorder_id = $(this).data('id');
    var vendor_id =  $('#vendor_id').val();
 
    var selected_popp_ids = []
    $("input:checkbox[name=selected_popp_id]:checked").each(function(){
    selected_popp_ids.push($(this).val());
    });
   
    $('#schedule-payment').find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/magnify/index.searching-for-loading-icon.gif' />");
    $.ajax({
            url: '../../../../../ajax/payments/schedule_payment',
            type: "get",
            data: {'vendor_id': vendor_id,
                    'selected_popp_ids': selected_popp_ids},
            success: function(data) {
              $('#schedule-payment').modal('show');
              $('#schedule-payment').find('.modal-body').html(data.snippet);
            },
            error: function(err) {
              console.log('error', err);
            }
          })
});

function each_cheque_amount(source){
  var no_of_cheque = parseFloat(source.value);
  var total_amount = parseFloat($(source).find(':selected').data("total_amount"));
  var each_cheque_amount = (total_amount / no_of_cheque) ;
  $('#each_cheque_amount').html(each_cheque_amount);

  html_str = ''
  for (i = 0; i < no_of_cheque; i++) { 
  html_str = html_str + '<tr><th>#'+(i+1).toString()+'</th><th>'+each_cheque_amount.toString()+'<input type="hidden" value="'+each_cheque_amount.toString()+'" name="cheque_amount"></th><th><input class="form-control" type="text" name="cheque_no"></th><th><input class="form-control" type="date" name="cheque_date"></th></tr>'
}
  $('#cheques table tbody').html(html_str);

}

function get_po(source){
    var vendor_id = source.value;
    $('div#purchaseorders').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/bars/index.progress-bar-facebook-loader.gif' />");
    $.ajax({
        url: '../../../../../ajax/payments/payable_pending/get_purchaseorders',
        type: "get",
        data: {'vendor_id':vendor_id},
        success: function(data) {
         
          $('div#purchaseorders').html(data.snippet);
        },
        error: function(err) {
          console.log('error', err);
        }
      })
};
</script>
{% endblock application-active %}