{% for po in pos %}
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card mt-4">
        <h5 class="card-header" role="tab" id="headingOne">
            <a data-toggle="collapse" data-parent="#accordion" href="#po-{{ po.purchaseorder_id }}" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> {{ po.purchaseorder_number }} 
            </a>
        </h5>

        <div id="{{ po.purchaseorder_id }}" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
                
            </div>
        </div>
    </div>
    
</div>


{% endfor %}