{% csrf_token %}
<table class="table table-bordered table-sm">
    <tr>
    <th class="table-secondary">Vendor</th><th>{{ vendor.contact_name }}</th>
    <th class="table-secondary">Payment Terms</th><th>{{ vendor.payment_terms }}</th>
    </tr>
    <tr>
    <th class="table-secondary">Purchase Orders</th><th>{% for po in pos %}{{ po }} ,{% endfor %}</th>
    <th class="table-secondary">Total Amount(With Tax)</th><th>{{ total_amount }}</th>
    </tr>
    <tr>
    <th class="table-secondary">Number of cheques</th>
    <th>
        <select class="form-control" onchange="return each_cheque_amount(this);" id="no_of_cheque" name="no_of_cheque">
            <option value="1" data-total_amount="{{ total_amount }}">1</option>
            <option value="2" data-total_amount="{{ total_amount }}">2</option>
            <option value="3" data-total_amount="{{ total_amount }}">3</option>
            <option value="4" data-total_amount="{{ total_amount }}">4</option>
            <option value="5" data-total_amount="{{ total_amount }}">5</option>
            <option value="6" data-total_amount="{{ total_amount }}">6</option>
            <option value="7" data-total_amount="{{ total_amount }}">7</option>
            <option value="8" data-total_amount="{{ total_amount }}">8</option>
            <option value="9" data-total_amount="{{ total_amount }}">9</option>
            <option value="10" data-total_amount="{{ total_amount }}">10</option>
        </select>
    </th>
    <th class="table-secondary">Per Cheque Amount</th><th id="each_cheque_amount">{{ total_amount }}</th>
    </tr>

    
</table>