{% extends 'home.html' %}
{% block page-title-var %}<i class="fas fa-calendar-plus"></i> Inward - New Plan{% endblock page-title-var %}

{% block application-active %}
    <div class="container" style="max-width: 100%;">
        <div class="row">
            <div class="alert alert-primary col-4 border border-light" role="alert">
                <h4 class="alert-heading text-center"><i class="fas fa-sign-out-alt"></i> Dispatch From Vendor's End Today</h4>
                <hr>
                <div class="btn-group btn-block" role="group">
                    <a class="btn btn-outline-success col-6 dispatchtoday" href="#" data-toggle="modal" data-target="#dispatchtoday"><i class="fas fa-clipboard-check"></i> Mark as Dispatched</a>
                    <div class="modal fade" id="dispatchtoday" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width:98%" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="fas fa-sign-out-alt"></i> 
                                    Todays Planned Dispatches From Vendors
                                </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form method="post" action="">
                            <div class="modal-body">

                            </div>
                            <input type="submit" value="Dispatched" class="btn btn-outline-success btn-block container mb-3"  name="dispatched-today">
                            </form>
                          </div>
                        </div>
                    </div>


                    <a class="btn btn-outline-danger col-6 dispatchtodaysummary" href="#" data-toggle="modal" data-target="#dispatchtodaysummary"><i class="fas fa-envelope"></i> Send Today's Summary Mail</a>
                    <div class="modal fade" id="dispatchtodaysummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width:98%" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="fas fa-clipboard"></i> 
                                    Today's Dispatch Summary
                                </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form method="post" action="">
                            <div class="modal-body">

                            </div>
                            <input type="submit" value="Send Mail" class="btn btn-outline-success btn-block container mb-3" name="mail-dispatch-summary">
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-primary col-4 border border-light" role="alert">
                <h5 class="alert-heading">
                    <a href="{% url 'refresh_purchase_orders' %}" class="btn btn-outline-dark form-group btn-block">
                        <i class="fas fa-sync-alt"></i>   
                        Update Purchase orders from Zoho
                    </a>
                </h5>

            </div>

            <div class="alert alert-primary col-4 border border-light" role="alert">
                <h4 class="alert-heading text-center"><i class="fas fa-sign-in-alt"></i> Receiving Today</h4>
                <hr>
                <div class="btn-group btn-block" role="group">
                    <a class="btn btn-outline-success col-6 receivingtoday" href="#" data-toggle="modal" data-target="#receivingtoday"><i class="fas fa-clipboard-check"></i> Mark as Received</a>
                    <div class="modal fade" id="receivingtoday" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width:98%" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="fas fa-sign-in-alt"></i>
                                    Receiving Today 
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" action="">
                            <div class="modal-body">

                            </div>
                            <input type="submit" value="Received" class="btn btn-outline-success btn-block container mb-3" name="received-today">
                            </form>
                          </div>
                        </div>
                    </div>

                    <a class="btn btn-outline-danger col-6 receivingtodaysummary" href="#" data-toggle="modal" data-target="#receivingtodaysummary"><i class="fas fa-envelope"></i> Send Today's Summary Mail</a>
                    <div class="modal fade" id="receivingtodaysummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width:98%" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <i class="fas fa-clipboard"></i>
                                    Today's Receiving Summary
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form method="post" action="">
                            <div class="modal-body">

                            </div>
                            <input type="submit" value="Send Mail" class="btn btn-outline-success btn-block container mb-3" name="mail-receive-summary">
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="btn-toolbar" style="align-self: center" >

        
        <a href="{% url 'send_mail_pickup' %}" class="btn btn-outline-info form-group" style="position: absolute;left: 0;margin-left: 2%;">Send mail for Today's pickup</a>
        <a href="#" id="todayspickup" style="position: absolute; right: 0; margin-right: 2%" data-toggle="modal" data-target="#todayspickupmodal" class="btn btn-outline-info form-group">Todays Pickup</a>
        
                <div class="modal fade" id="todayspickupmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" style="max-width:98%" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Todays Pickup</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form method="post" action="">
                      <div class="modal-body">

                      </div>
                      <input type="submit" value="Received" class="btn btn-outline-success btn-block" name="received-pickup">
                      </form>
                    </div>
                  </div>
                </div>
    </div>-->
            <nav class="nav nav-tabs nav-justified">
                    <a class="nav-item nav-link" id="hag" data-toggle="tab" href="#home">Others</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#menu1">HIYA INDIA BIOTECH PVT LTD</a>
            </nav>
      <div class="tab-content">
      <div id="home" class="tab-pane fade in">
<table  class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Purchase Order Number</th>
                <th>Sales Order</th>
                <th>Vendor</th>
                
                <th>Status</th>
                
                
                <th>Total</th>

                <th>Select PickUp Dates</th>
                
            </tr>
        </thead>
        <tbody>
        {% for purchaseorder in purchaseorders %}
        {% if purchaseorder.status != 'billed' and purchaseorder.status != 'cancelled' and purchaseorder.vendor.contact_name != 'HIYA INDIA BIOTECH PVT LTD' and purchaseorder.planned_status == False %}
            <tr>
                <td>{{ purchaseorder.date }}</td>
                <td><a href="{{ purchaseorder.purchaseorder_url }}" class="btn btn-outline-info btn-block">{{ purchaseorder.purchaseorder_number }}</a></td>
                <td>
                {% if purchaseorder.salesorder %}
                    <a href="{{ purchaseorder.salesorder.salesorder_url }}" class="btn btn-outline-primary btn-sm btn-block">
                        {{ purchaseorder.salesorder.salesorder_number }} 
                    </a>
                {% else %}
                    No Sales Order
                {% endif %}
                </td>
                
                <td><a href="{% url 'vendor_profile' contact_id=purchaseorder.vendor.contact_id %}" class="btn btn-outline-primary btn-sm btn-block">{{ purchaseorder.vendor }}</a></td>
                
                <td>{{ purchaseorder.status }}</td>
                
                
                <td>{{ purchaseorder.total }}</td>
                <td>
                    <a class="btn btn-outline-warning select-pickup btn-block" data-id="{{ purchaseorder.purchaseorder_id }}" data-toggle="modal" data-target="#po-pickup-{{ purchaseorder.purchaseorder_id }}">
                        <i class="fas fa-calendar-plus"></i>  Plan Inward 
                    </a>
                    <div class="modal fade" id="po-pickup-{{ purchaseorder.purchaseorder_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width:95%;text-align:center;" role="document">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Plan Inward of PO# - <span style="color:red;">{{ purchaseorder.purchaseorder_number }}</span> of {{ purchaseorder.vendor.contact_name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="" method="post">
                                
                                <div class="modal-body">
                                    ...
                                </div>
                                <input type="submit" value="Save Dates" class="btn btn-outline-success btn-block" name="po-pickup" >
                                </form>
                                
                            </div>
                        </div>
                    </div>
                   
                </td>

            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
</table>
      </div>
      <div id="menu1" class="tab-pane fade in">
          <table  class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Purchase Order Number</th>
                <th>Sales Order</th>
                <th>Vendor</th>

                <th>Status</th>


                <th>Total</th>

                <th>Select PickUp Dates</th>

            </tr>
        </thead>
        <tbody>
        {% for purchaseorder in purchaseorders %}
        {% if purchaseorder.status != 'billed' and purchaseorder.status != 'cancelled' and purchaseorder.vendor.contact_name == 'HIYA INDIA BIOTECH PVT LTD' and purchaseorder.planned_status == False %}
            <tr>
                <td>{{ purchaseorder.date }}</td>
                <td><a href="{{ purchaseorder.purchaseorder_url }}" class="btn btn-outline-info btn-block">{{ purchaseorder.purchaseorder_number }}</a></td>
                <td>
                {% if purchaseorder.salesorder %}
                    <a href="{{ purchaseorder.salesorder.salesorder_url }}" class="btn btn-outline-primary btn-sm btn-block">
                        {{ purchaseorder.salesorder.salesorder_number }}
                    </a>
                {% else %}
                    No Sales Order
                {% endif %}
                </td>

                <td><a href="{% url 'vendor_profile' contact_id=purchaseorder.vendor.contact_id %}" class="btn btn-outline-primary btn-sm btn-block">{{ purchaseorder.vendor }}</a></td>

                <td>{{ purchaseorder.status }}</td>


                <td>{{ purchaseorder.total }}</td>
                <td>
                    <a class="btn btn-outline-warning select-pickup btn-block" data-id="{{ purchaseorder.purchaseorder_id }}" data-toggle="modal" data-target="#po-pickup-{{ purchaseorder.purchaseorder_id }}">
                        <i class="fas fa-calendar-plus"></i>  Plan Inward 
                    </a>
                    <div class="modal fade" id="po-pickup-{{ purchaseorder.purchaseorder_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="max-width:95%;text-align:center;" role="document">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Plan Inward of PO# - <span style="color:red;">{{ purchaseorder.purchaseorder_number }}</span> of {{ purchaseorder.vendor.contact_name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="" method="post">
                                
                                <div class="modal-body">
                                    ...
                                </div>
                                <input type="submit" value="Save Dates" class="btn btn-outline-success btn-block" name="po-pickup" >
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    
                </td>

            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
</table>
      </div>
      </div>
    <script>
    $('#hag').click();
    </script>
    <script>
    $(document).on("click",".select-pickup",function(){
        var purchaseorder_id = $(this).data('id');
        
        $('#po-pickup-'+purchaseorder_id).find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/magnify/index.searching-for-loading-icon.gif' />");
        $.ajax({
            url: '../../../../../ajax/purchaseorder_pickup',
            type: "get",
            data: {'slug': purchaseorder_id},
            success: function(data) {
              $('#po-pickup-'+purchaseorder_id).modal('show');
              $('#po-pickup-'+purchaseorder_id).find('.modal-body').html(data.po_snippet);
            },
            error: function(err) {
              console.log('error', err);
            }
          })
    });
    
    $(document).on("click",".dispatchtoday",function () {

        $('#dispatchtoday').find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/cloudy/index.cloudy-sky-preloader.gif' />");
        $.ajax({
            url: '../../../../../ajax/servicedelivery/inward/dispatchtoday',
            type: "get",
            success: function(data) {
              
              $('#dispatchtoday').find('.modal-body').html(data.snippet);
            },
            error: function(err) {
              console.log('error', err);
            }
          });

    });
    $(document).on("click",".dispatchtodaysummary",function () {

        $('#dispatchtodaysummary').find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/cloudy/index.cloudy-sky-preloader.gif' />");
        $.ajax({
            url: '../../../../../ajax/servicedelivery/inward/dispatchtodaysummary',
            type: "get",
            success: function(data) {
              $('#dispatchtodaysummary').modal('show');
              $('#dispatchtodaysummary').find('.modal-body').html(data.snippet);
            },
            error: function(err) {
              console.log('error', err);
            }
          });

    });
    $(document).on("click",".receivingtoday",function () {

        $('#receivingtoday').find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/cloudy/index.cloudy-sky-preloader.gif' />");
        $.ajax({
            url: '../../../../../ajax/servicedelivery/inward/receivingtoday',
            type: "get",
            success: function(data) {
              $('#receivingtoday').modal('show');
              $('#receivingtoday').find('.modal-body').html(data.snippet);
            },
            error: function(err) {
              console.log('error', err);
            }
          });

    });
    $(document).on("click",".receivingtodaysummary",function () {

        $('#receivingtodaysummary').find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/cloudy/index.cloudy-sky-preloader.gif' />");
        $.ajax({
            url: '../../../../../ajax/servicedelivery/inward/receivingtodaysummary',
            type: "get",
            success: function(data) {
              $('#receivingtodaysummary').modal('show');
              $('#receivingtodaysummary').find('.modal-body').html(data.snippet);
            },
            error: function(err) {
              console.log('error', err);
            }
          });

    });
    $('#todayspickup').on("click",function () {

        $('#todayspickupmodal').find('.modal-body').html("<img style='display:block;margin:auto;' src='https://loading.io/spinners/magnify/index.searching-for-loading-icon.gif' />");
        $.ajax({
            url: '../../../../../ajax/todays_pickup',
            type: "get",
            success: function(data) {
              $('#todayspickupmodal').find('.modal-body').html(data.po_snippet);
            },
            error: function(err) {
              console.log('error', err);
            }
          });

    });
   
function toggle(source) {
  checkboxes = document.getElementsByName('selected-popp');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
};

    </script>
{% endblock application-active %}