{% extends 'home.html' %}
{% block page-title-var %} <i class="fas fa-truck"></i> Shipping {% endblock page-title-var %}

{% block application-active %}
<section id="tabs" class="project-tab">
            <div class="container" style="max-width:100%">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Expired Plans</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Plans From Today</a>
                                
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="alert alert-light border border-dark col-12">
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <th>Select Dispatch Date</th>
                                                <th>
                                                    <select class="form-control" name="planned_date">
                                                        {% for dispatchdate in dispatchdates %}
                                                        <option value="{{ dispatchdate|date:'Y-m-d' }}">{{ dispatchdate|date:"j-F-Y (l)" }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </th>

                                                <th>Select Dispatch Time</th>
                                                <th><input class="form-control" type="time" name="planned_time"></th>
                                            </tr>
                                            <tr>
                                                <th>Select Transporter</th>
                                                <th>
                                                    <select class="form-control" name="transporter_id">
                                                        <option value="">----</option>
                                                        {% for transporter in transporters %}
                                                        <option value="{{ transporter.id }}">{{ transporter.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </th>

                                                <th>Reason(For Rescheduling)</th>
                                                <th><input class="form-control" type="number" name="reason" step="0.01"></th>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <input type="submit" value="Replan"  name="replan" class="btn btn-outline-warning btn-block">
                                    <input type="submit" value="Mark As Dispatched"  name="mark-as-dispatched" class="btn btn-outline-success btn-block" formnovalidate>
                                </div>
                                
                                <table class="table" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" onClick="toggle(this)" /></th>
                                                    <th>SO#</th>
                                                    <th>Buyer</th>
                                                    <th>Zoho Location</th>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Selling Price</th>
                                                    <th>Total Amount</th>
                                                    <th>Transporter</th>
                                                    <th>Planned On</th>
                                                    
                                                    

                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for sopp in sopps_expired %}
                                                <tr>
                                                    <td><input type="checkbox" name="selected_sopp_id" value="{{ sopp.id }}"></td>
                                                    <td>{{ sopp.salesorderproduct.salesorder.salesorder_number }}</td>
                                                    <td>{{ sopp.salesorderproduct.salesorder.buyer.contact_name }}</td>
                                                    <td style="{% if sopp.salesorderproduct.salesorder.zoho_location == 'okhla' %} color:red{% elif sopp.salesorderproduct.salesorder.zoho_location == 'baddi' %}color:blue{% endif %};font-weight:bold;text-transform: uppercase;">{{ sopp.salesorderproduct.salesorder.zoho_location }}</td>
                                                    <td>{{ sopp.salesorderproduct.product.name }}</td>
                                                    <td>{{ sopp.planned_quantity }}</td>
                                                    <td>{{ sopp.salesorderproduct.so_selling_price }}</td>
                                                    <td>{{ sopp.total_amount }}</td>
                                                    <td>{{ sopp.transporter.name }}</td>
                                                    <td>{{ sopp.planned_date_time }}</td>
                                                    
                                                    
                                                </tr>
                                            {% endfor %}    
                                            </tbody>
                                        </table>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>SO#</th>
                                                    <th>Buyer</th>
                                                    <th>Zoho Location</th>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Selling Price</th>
                                                    <th>Total Amount</th>
                                                    <th>Transporter</th>
                                                    <th>Planned At</th>
                                                    <th>Dispatched At</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for sopp in sopps_from_today %}
                                                <tr>
                                                    <td>{{ sopp.salesorderproduct.salesorder.salesorder_number }}</td>
                                                    <td>{{ sopp.salesorderproduct.salesorder.buyer.contact_name }}</td>
                                                    <td style="{% if sopp.salesorderproduct.salesorder.zoho_location == 'okhla' %} color:red{% elif sopp.salesorderproduct.salesorder.zoho_location == 'baddi' %}color:blue{% endif %};font-weight:bold;text-transform: uppercase;">{{ sopp.salesorderproduct.salesorder.zoho_location }}</td>
                                                    <td>{{ sopp.salesorderproduct.product.name }}</td>
                                                    <td>{{ sopp.planned_quantity }}</td>
                                                    <td>{{ sopp.salesorderproduct.so_selling_price }}</td>
                                                    <td>{{ sopp.total_amount }}</td>
                                                    <td>{{ sopp.transporter.name }}</td>
                                                    <td>{{ sopp.planned_date_time  }}</td>
                                                    <td>{{ sopp.shipped_date_time }}</td>
                                                </tr>
                                            {% endfor %}    
                                            </tbody>
                                        </table>
                            </div>
                                                    </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            function toggle(source) {
  checkboxes = document.getElementsByName('selected_sopp_id');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
        </script>
{% endblock application-active %}